apiVersion: v1
kind: Service
metadata:
  name: demo-service
  labels:
    app: demo-service
    clusterid: cluster-01
spec:
  selector:
    app: demo-deployment
  ports:
    - name: http
      port: 80
      targetPort: 80

